body {
  background: #232323;
}

h1, span {
  color: white;
}
.square {
  background: #232323;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}
